/* reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(160, 154, 154);
}

header {
    padding: 1rem;
}

#titulo {
    background-color: rgb(194, 191, 191);
    padding: 0.5rem;
    width: 60%;
    margin-left: 15rem;
    border-radius: 3rem;
    text-transform: uppercase;
    box-shadow: 3px 3px 4px black;
    text-align: center;
}

h2 {
    background-color: rgb(194, 191, 191);
    padding: 1rem;
    margin-left: 20rem;
    margin-top: 1rem;
    border-radius: 3rem;
    text-transform: uppercase;
    box-shadow: 3px 3px 4px black;
    text-align: center;
    width: 50%;
}

#divPadre {
    text-align: center;
    margin-top: 2rem;
}

#divPadre label {
    font-size: large;
    background-color: rgb(122, 117, 117);
    padding: 0.4rem;
    box-shadow: 4px 4px 5px black;
}

#divPadre input {
    padding: 0.5rem;
}

#divPadre button {
    padding: 0.5rem;
    box-shadow: 4px 4px 5px black;
}


.catalogoMain {
    margin: 1rem;
    padding: 2rem;
}

.containerCatalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.containerUno img {
    width: 18rem;
    height: 16rem;
}

.imgDos {
    display: none;
}

.containerUno h3 {
    margin-top: 1rem;
    background-color: rgb(192, 185, 184);
    width: 18rem;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 3px 3px 4px black;
}


.containerDos img {
    width: 25rem;
    height: 16rem;
}

.containerDos h3 {
    margin-top: 1rem;
    background-color: rgb(192, 185, 184);
    width: 25rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 3px 3px 4px black;
}


.containerTres img {
    width: 18rem;
    height: 16rem;
}

.containerTres h3 {
    margin-top: 1rem;
    background-color: rgb(192, 185, 184);
    width: 18rem;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 3px 3px 4px black;
}

.containerCatalogoDos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerCuatro {
    margin-top: 2rem;
}

.containerCuatro img {
    width: 18rem;
    height: 16rem;
}

.containerCuatro h3 {
    margin-top: 1rem;
    background-color: rgb(192, 185, 184);
    padding: 0.5rem;
    width: 18rem;
    text-align: center;
    box-shadow: 3px 3px 4px black;
}

.containerCinco {
    margin-top: 2rem;
}

.containerCinco img {
    width: 25rem;
    height: 16rem;
}

.containerCinco h3 {
    margin-top: 1rem;
    background-color: rgb(192, 185, 184);
    padding: 0.5rem;
    text-align: center;
    box-shadow: 3px 3px 4px black;
}

.containerSeis {
    margin-top: 2rem;
}

.containerSeis img {
    width: 18rem;
    height: 16rem;
}

.containerSeis h3 {
    margin-top: 1rem;
    background-color: rgb(192, 185, 184);
    padding: 0.5rem;
    width: 18rem;
    text-align: center;
    box-shadow: 3px 3px 4px black;
}

footer {
    text-align: center;
    text-transform: uppercase;
}